@media (max-width: 768px) {
  .header {
    height: 70px;
  }
  .brand {
    font-size: 28px;
  }

  .btn-mb {
    display: block;
    z-index: 9999;
  }
  .nav-bar {
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .nav-open .nav-bar {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  .nav-open .icon-mb[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-mb[name="menu-outline"] {
    display: none;
  }

  .nav-links {
    margin-top: 48px;
    flex-direction: column;
    gap: 32px;
  }
  .nav-link {
    font-size: 20px;
  }
  .section-hero {
    height: 100vh;
  }
  .container {
    padding-top: 32px;
    height: 100vh;
    gap: 16px;
  }
  #text {
    font-size: 18px;
  }
  .other-text {
    font-size: 12px;
  }
  .other-links {
    margin-top: 4px;
    gap: 20px;
  }
  .getin,
  .downcv {
    padding: 6px 8px;
    font-size: 14px;
  }
  .hero-image {
    height: 75vh;
  }
  .section-about {
    height: 85vh;
  }
  .about-info {
    gap: 18px;
  }
  .abt-img {
    display: none;
  }
  .about-info {
    padding: 10px;
    grid-template-columns: 2fr;
  }
  .about-information {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 435px) {
  .section-hero {
    padding: 0 6%;
    height: 55vh;
    background-image: url("assests/bg-mob.jpg");
    background-size: cover;
  }
  .container {
    /* padding-top: 64px; */
    display: flex;
    height: 50vh;
    align-items: center;
    justify-content: center;
  }
  .info {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #text {
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
  }
  .hero-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .other-text {
    display: none;
    line-height: 1.2;
    font-size: 14px;
    font-weight: 500;
  }
  .hero-img {
    display: none;
  }
  .other-links {
    margin-top: 6px;
    gap: 14px;
  }
  .getin,
  .downcv {
    padding: 6px 8px;
    font-size: 14px;
  }
  .section-about {
    margin-top: 6px;
    height: 70vh;
    padding: 0 5%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .about-container {
    height: 60vh;
    box-shadow: none;
  }
  .secondary-heading {
    font-size: 20px;
  }
  .heading-3 {
    font-size: 16px;
  }
  .about-text,
  .more-about-text {
    font-size: 12px;
  }
}
